
footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: black;
}
.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 80px;
    height: auto;
    background: purple;
    border-radius: 20px;
    /* box-shadow:  0 8px 20px rgba(244, 156, 4, 0.815); */
    filter: drop-shadow(2px 2px 2px yellow);
    
}
.container{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    /* border: 1px solid white; */
}
.container1{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    /* border: 1px solid white; */
}
.footer-h2{
    color: white;
    font-size: 30px;
}
.footer-p{
    color: white;
    font-size: 20px;
}
.footer-a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.copy{
    color: white;
    font-size: 15px;
}