
.section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: white 1px solid; */
    background: linear-gradient(180deg, rgba(255, 170, 0, 0.532) 0%, rgba(161, 2, 161, 0.518) 100%);
}
.section2{
    width: 50%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap:10px;
    /* border: white 1px solid; */
}
.section20{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}
h2{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.stron{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgba(255, 170, 0, 0.77);
    text-shadow: 1px 1px 2px rgb(81, 0, 138);
}

.mean{
    color: white;
    font-size: 18px;
    text-align: center;
    text-shadow: purple 2px 2px 3px;
}

.paragraf{
    width: 50%;
    height: auto;
    text-align: center;
    /* border: white 1px solid; */
    font-size: 17px;
    padding-top: 200px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: rgba(255, 230, 0, 0.671) 1px 1px 1px;
}

.section_img{
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 1px 3px rgba(255, 170, 0, 0.77);
    border-radius: 5px;
}


.line{
    width: 1px;
    height: 400px;
    background-color: rgb(255, 5, 255);
    border: 1px solid white;
}

.section3{
    width: 50%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: yellow 1px solid; */

}

.title_hook{
    width: 60%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}
.important{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgba(255, 170, 0, 0.77);
    text-shadow: 1px 1px 2px rgb(81, 0, 138);
}

.hook{
    color: white;
    font-size: 25px;
    text-align: center;
    text-shadow: purple 2px 2px 3px;
}
.learn-more{
    width: 150px;
    height: 40px;
    background-color: rgb(161, 2, 161);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    /* text-shadow: 1px 1px 2px black; */
    color: black;
}